body {
  /* font-family: papyrus, georgia, copperplate, courier new; */
  background-color: #aba9a8dd;
  text-align: center;
}

.main-text {
    max-width: 585px;
    margin: 0 auto; /* center the div itself */
    border: 2px solid #000;
    border-radius: 8px;
    padding: 25px;
    text-align: center; /* center the text */
    font-family: copperplate, Times New Roman, Lucida Console;
}